.card { 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 1px; 
    width: 290px;
}
  
.card-img {
    width: 100%;
}
.card:hover {
    box-shadow: 0 3px 18px rgba(0,0,0,0.6);
}
    
.card-content {
    font-family: 'Open Sans';
    padding: 2px 16px;
}
  
h4 {
    color: #0F5EF0;
    margin-top: 20px;
    font-size: 16px;
}
  
p {
    color: #7A8594;
    font-size: 12px;
}
  
.container-para {
    margin-top: 18px;
}
  
.container-modified {
    margin-top: 20px;
    margin-bottom:14px;
}
